.projectContainer{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 5rem;
    justify-items: center;
    margin-top: 2rem;
    
   
   
}

[data-aos="new-animation"] {
    opacity: 0;
    transition-property: transform, opacity;
  }
    [data-aos="new-animation"].aos-animate {
      opacity: 1;
    }