.exploreButton {
    background-color: #2979ff;
    text-decoration: none;
    padding: .2rem 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    color: white
}

.exploreButton:hover{
    color: black
}

.titleBox {
    position: absolute;
    top: 30%;
    left : 60%;
    transform: translate(-20%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
  }


.title {
    font-size: 3rem;
    letter-spacing: .5rem;
    font-family: 'Sansita Swashed', cursive;
    color: rgb(19, 38, 101);
    transition: 1s;
    font-weight: 800;
    
  }