.homepage{
  display: grid;
  grid-template-columns: .9fr 1.1fr;
}
.exploreButton {
    background-color: #2979ff;
    text-decoration: none;
    padding: .2rem 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    color: white
}

.exploreButton:hover{
    color: black
}

.titleBox {
    /* position: absolute;
    top: 30%;
    left : 60%;
    transform: translate(-20%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    
    
  }


.title {
    font-size: 3rem;
    letter-spacing: .5rem;
    font-family: 'Sansita Swashed', cursive;
    /* color: rgb(19, 38, 101); */
    transition: 1s;
    font-weight: 800;
    
  }


@media screen and (max-width: 700px){
  .homepage{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .titleBox{
    height: 100vh;
    margin-top: -15rem;
    z-index: 2000;
  }
  .canvasbox{
    /* display: none; */
    margin-top: -10rem;
    margin-left: 3rem;
    
  }
}
@media screen and (min-width: 700px){
  .homepage{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  .titleBox{
    height: 100vh;
    margin-top: -26rem;
    z-index: 2000;
  }
  .canvasbox{
    /* display: none; */
    margin-top: -10rem;
    margin-left: 3rem;
    width: 100vw;
    
  }
}