.homepage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: teal;
}
.exploreButton {
    background-color: #2979ff;
    text-decoration: none;
    padding: .4rem 1.5rem;
    margin-top: 2rem;
    border-radius: 5px;
    color: white;
    margin-bottom: 3rem;
    /* font-Family: 'Akaya Telivigala, cursive !important' */
}

.exploreButton:hover{
    color: black
}

.titleBox {
    /* position: absolute;
    top: 30%;
    left : 60%;
    transform: translate(-20%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(220, 212, 211);
   

    
    
  }
.name {
  font-Family: 'Akaya Telivigala',
}


.title {
    font-size: 3rem;
    letter-spacing: 12px;
    font-Family: 'Akaya Telivigala, cursive';
    /* color: rgb(19, 38, 101); */
    transition: 1s;
    font-weight: 800;

    
  }


@media screen and (max-width: 700px){
  .homepage{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    text-align: -webkit-center;
    background-color: teal;
  }
  .titleBox{
    height: 100vh;
    /* margin-top: -15rem; */
    font-Family: 'Akaya Telivigala, cursive';
    z-index: 2000;
  }
  .canvasbox{
    /* display: none; */
    /* margin-top: -10rem;
    margin-left: 3rem; */
    /* align-items: center ; */
    width: 100%;
    
  }
}
@media screen and (min-width: 700px){
  .homepage{
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  .titleBox{
    height: 100vh;
    /* margin-top: -25rem; */
    z-index: 2000;
  }
  .canvasbox{
    /* display: none; */
    /* margin-top: -5rem; */
    /* margin-left: 3rem; */
    /* width: 100vw; */
    
  }
}